<% for column in Transact.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @transact.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @transact %> |
<%= link_to 'Back', :action => 'list' %>
