 
 

<center><h1>Present Stock</h1></center>

<center><table border=2 bordercolor=red>
  <tr>
    <th>Service Name</th>
    <
  </tr>

<% @waitlist.each do|roc| %>
  <tr>
    <td><%=roc.SVC_ServiceName %>&nbsp;</td>
    
  </tr>
<% end %>
</table></center>

<br />