<html>

<head>
<%= javascript_include_tag "prototype","effects","application",:defaults %>
<title>Add DQM Vendor</title>
</head>

<body>
<table align=center width="100%"><tr width=70% align=center>
  <td width=70% ></br>

<%= error_messages_for 'dqmvendor'-%></td></tr></table>

<%= start_form_tag :action => "addvendor" %>


<table cellspacing="1" width="98%"  height="340">
  <tr>
    <td width="100%" height="283" align=center>
<fieldset id="fs" ><legend>
<font color="#FFFFFF">
<strong >Add Vendor</strong></font></legend>
<table cellpadding="0" cellspacing="0"  height="259">
  <tr>
    <td width="100%" height="46">
    <table cellpadding="0" cellspacing="0" >
      <tr>
        <td width="49%" height="25">
        <p align="right">
<label>&nbsp;Vendor Name:</label></td>
        <td width="2%" height="25">&nbsp;</td>
        <td width="49%" height="25"><p align=left>
<%= text_field 'dqmvendor', 'VND_VendorName' %>
</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td width="100%" height="45">
    <table  cellpadding="0" cellspacing="0" height="23">
      <tr>
        <td width="49%" height="25">
        <p align="right">
<label>Vendor Address:<b>&nbsp;</b></label></td>
        <td width="2%" height="25">&nbsp;</td>
        <td width="49%" height="25"><p align=left>
<%= text_field 'dqmvendor', 'VND_Address' %></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td width="100%" height="40">
    <table  cellpadding="0" cellspacing="0"  height="25">
      <tr>
        <td width="49%" height="25">
        <p align="right">
<label> Contact Person Name:</label></td>
        <td width="2%" height="25">&nbsp;</td>
        <td width="49%" height="25"><p align=left>
<%= text_field 'dqmvendor', 'VND_ContactPersonName' %>
</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td width="100%" height="40">
    <table  cellpadding="0" cellspacing="0" height="25">
      <tr>
        <td width="49%" height="25">
        <p align="right">
<label>Vendor E-Mail Address:</label></td>
        <td width="2%" height="25">&nbsp;</td>
        <td width="49%" height="25"><p align=left>
<%= text_field 'dqmvendor', 'VND_ContactEmailID' %>

</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td width="100%" height="38">
    <table  cellpadding="0" cellspacing="0"  height="24">
      <tr>
        <td width="49%" height="25">
        <p align="right"><font face="Zurich BT">
<label> Vendor Phone No:</label></td>
        <td width="2%" height="25">&nbsp;</td>
        <td width="49%" height="25"><p align=left>
<%= text_field 'dqmvendor', 'VND_Telephone', :size=>"30" , :maxlength=>"11"%>
</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td width="100%" height="44">
    <table  cellpadding="0" cellspacing="0"  height="23">
      <tr>
        <td width="49%" height="25">
        <p align="right">
<label>  Vendor Fax No:<b>&nbsp;</b></label></td>
        <td width="2%" height="25">&nbsp;</td>
        <td width="49%" height="25"><p align=left>
<%= text_field 'dqmvendor', 'VND_Fax', :size=>"30" , :maxlength=>"12" %>
</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</fieldset>
    </td>
  </tr>
  <tr>
    <td width="100%" height="32">
<p align="center"><%= submit_tag "  Add  "%>&nbsp;&nbsp;&nbsp
<%= button_to_function 'Cancel' , remote_function(:url=> {:controller=>'administration',:action => "tov" }), :style=>"font-family: Zurich BT; font-size: 10pt" %> 
</td>
  </tr>
</table>
<% end_form_tag %>
</body>

</html>