<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CMT</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/javascript"><!--//--><![CDATA[//><!--

sfHover = function() {
	var sfEls = document.getElementById("nav").getElementsByTagName("LI");
	for (var i=0; i<sfEls.length; i++) {
		sfEls[i].onmouseover=function() {
			this.className+=" over";
		}
		sfEls[i].onmouseout=function() {
			this.className=this.className.replace(new RegExp(" over\\b"), "");
		}
	}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);

//--><!]]></script>
<style type="text/css">
body {
	font: normal 11px Zurich BT;
	}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}

ul li {
	position: relative;
	float: left;
	width:160px;
}
	
li ul {
	position: absolute;
	left: 0; /* Set 1px less than menu width */
	top: auto;
	display: none;
	}
li ul ul{
	position: absolute;
	left:100%; /* Set 1px less than menu width */
	top: -.1em;
	display: none;
	}

/* Styles for Menu Items */
ul li a {
	display: block;
	text-decoration: none;
	color: #08176c;
	background-color:#93b1c9; /* IE6 Bug */
	padding: 5px;
	border: 1px solid #93b1c9;
		}
/* commented backslash mac hiding hack \*/ 
* html ul li a {height:1%}
/* end hack */ 

/* this sets all hovered lists to red */
li:hover a, li.over a,
li:hover li:hover a, li.over li.over a,
li:hover li:hover li:hover a, li.over li.over li.over a,
li:hover li a:hover, li.over li a:hover,
li:hover li:hover li:hover a:hover, li.over li li a:hover,
li:hover li:hover li:hover li:hover a:hover, li.over li.over li.over li.over a:hover 
{
   color: white;
   background-color:#155a8e;
   font:bold  
   }

/* set dropdown to default */
li:hover li a, li.over li a,
li:hover li:hover li a, li.over li.over li a,
li:hover li:hover li:hover li a, li.over li.over li.over li a
 {
    color: #08176c;
   background-color:white;
}
li ul li a { padding: 2px 5px; } /* Sub Menu Styles */
ul li:hover ul ul, ul li:hover ul ul ul, ul li.over ul ul, ul li.over ul ul ul {
display:none;
}

ul li:hover ul, ul li li:hover ul, ul li li li:hover ul, ul li.over ul, ul li li.over ul, ul li li li.over ul {
	display: block;
}

</style>

<%= stylesheet_link_tag "style" %>

</head>
<body topmargin=0 leftmargin=0 rightmargin=0>
<table border="0" cellspacing="0" style="border-collapse: collapse" bordercolor=maroon width=100% cellpadding="0" id="AutoNumber1" height="82" bgcolor="#FFFFFF" align=center>
  <tr>
   <td width=100% height="3" colspan="2"> 
    <table border="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber2" height="70" cellpadding="0">
      <tr>
        <td width="100%" height="70" id=logo_2 style="background-repeat:no-repeat"></td>
        
        <!--<td width="30%" height="55" id=logo_3 style="background-repeat:no-repeat"></td>-->
     
      </tr>
      </table>
    </td>
  </tr>
 <tr>
 <td width=100% height="1" bgcolor="#fcff00" colspan="2"> </td></tr>
</tr>
    <td width=100%  height="20" bordercolor="#800000" bgcolor="#08176c" colspan="2"><BLINK>
          <font size="4">
          <MARQUEE  scrolldelay="100" class='menu' width=100%  height="16" bgcolor="#08176c" style="color: #FFFFFF"><font color="#FFFFF" face="Zurich BT" >
	<b>Welcome To ICICI</b></font>	</MARQUEE></font></BLINK></td>
  </tr>
  <td width=100% height="1" bgcolor="#fcff00" colspan="2"> </td></tr>

<% if session[:role] == "Admin"%>
  <tr>
     <td height="1" align="left" width=100% bgcolor=#93b1c9 colspan="2">
<ul id="nav">
<li><font face="Zurich BT"><a href="#"><b><font size="2">Administration</font></b></a>
  </font>
    <ul>
		 <li><font size="2" face="Zurich BT"><a href="#">Masters&nbsp; &gt;</a>
</font>
        <ul>
          
          
          <li><font size="2" face="Zurich BT"><%=link_to "Zone", {:controller => 'administration',:action => 'zone' }%></font></li>
			<li><font size="2" face="Zurich BT"><%=link_to "Region", {:controller => 'administration',:action => 'region' }%></font></li>
          
          <li><font size="2" face="Zurich BT"><%=link_to "Cluster", {:controller => 'administration',:action => 'cluster' }%></font></li>
          <li><font size="2" face="Zurich BT"><%=link_to "Group", {:controller => 'administration',:action => 'group' }%></font></li>
          <li><font size="2" face="Zurich BT"><%=link_to "DQM Vendors", {:controller => 'administration',:action => 'vendor' }%></font></a></li>
          <li><font size="2" face="Zurich BT"> <%=link_to "Location", {:controller => 'administration',:action => 'location' }%></font></li>
		  <li><font size="2" face="Zurich BT"><%=link_to "Service_Master", {:controller => 'administration',:action => 'service_master' }%></font></li>
          <li><font size="2" face="Zurich BT"><%=link_to "STP Reason", {:controller => 'administration',:action => 'stpreason' }%></font></li>
          <li><font size="2" face="Zurich BT"><%=link_to "NON STP reason", {:controller => 'administration',:action => 'nonstpreasons' }%></font></li>
          <li><font size="2" face="Zurich BT"><%=link_to "Pause reason", {:controller => 'administration',:action => 'pausereason' }%></font></li>
                  
        </ul>
      </li>

      <li><font size="2" face="Zurich BT"><%=link_to "Users", {:controller => 'users',:action => 'list' }%></font></li>
      <li><font size="2"><%=link_to "Token Footer", {:controller => 'token',:action => 'list' }%></font></li>
     
     
     
      <li><font size="2"><%=link_to "DisplayScrollMessage", {:controller => 'displayscrollmessage',:action => 'list' }%></font></li>
      <li><font size="2" face="Zurich BT"><%=link_to "Card Details", {:controller=>'carddetails', :action => 'list' }%> </font> </li>   
      <li><font size="2" face="Zurich BT"><%=link_to "Customer Type", {:controller=>'administration', :action => 'list' }%> </font> 
      
   
  </li>
   
      
    </ul>
  </li>
  <li><font face="Zurich BT"><a href="#"><b><font size="2">Data Export</font></b></a>
  </font>
    <ul>
		  <li><font size="2" face="Zurich BT"><%=link_to "Export Data", {:controller => 'datatransact',:action => 'updateservicetobranchexport' }%></font></li>
		   <li><font size="2" face="Zurich BT"><%=link_to "Location Export Status", {:controller => 'datatransact',:action => 'exportfailure' }%></font></li>
</ul></li>
</font>
   <li><font face="Zurich BT"><a href="#"><b><font size="2">Data Import</font></b></a>
  </font>
    <ul>
		  <li><font size="2" face="Zurich BT"><%=link_to "Import Data", {:controller => 'datatransact',:action => 'updateservicetobranchimport' }%></font></li>
		   <li><font size="2" face="Zurich BT"><%=link_to "Location Import Status", {:controller => 'datatransact',:action => 'importfailure' }%></font></li>
</ul></li>
  
  
  <li><b><font size="2" face="Zurich BT"><%=link_to "Reports", {:controller=>'reports', :action => 'master_report' }%> </font></b> 
   
  </li>
  <li><b><font size="2" face="Zurich BT"><%=link_to "Change Password", {:controller=>'administration', :action => 'password' }%> </font>
    
  </li>

<li><b><font size="2" face="Zurich BT"><%=link_to "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log out", {:controller => 'account', :action => 'logout' }%> </font> </b>
   
  </li>
   
</ul><%else%>
<ul id="nav">

  <li><font face="Zurich BT"><b><font size="2">Data Import</font></b>
  </font>
    <ul>
		  <li><font size="2" face="Zurich BT"><%=link_to "Import Data", {:controller => 'datatransact',:action => 'updateservicetobranchimport' }%></font></li>
		   <li><font size="2" face="Zurich BT"><%=link_to "Location Import Status", {:controller => 'datatransact',:action => 'importfailure' }%></font></li>
</ul></li>

   
  <li><b><font size="2" face="Zurich BT"><%=link_to "Reports", {:controller=>'reports', :action => 'master_report' }%> </font></b> 
   
  </li>
<li><b><font size="2" face="Zurich BT"><%=link_to "Change Password", {:controller=>'administration', :action => 'password' }%> </font> </b>
   
  </li>
  <li><b><font size="2" face="Zurich BT"><%=link_to "Log out", {:controller => 'account', :action => 'logout' }%> </font>
    
  </li>

</ul>


</td></tr>

  
<%end%>

  <tr>
    <td width="100%" height="439" colspan="2">
    
    
    <div id="content">
	<%= yield -%>
	</div>

    </td>
  </tr>
    <tr >
 <td width=100% height="1" bgcolor="#ffffff" colspan="2"> </td></tr>
<tr >
    <td width="25%"  height="24" align=left bordercolor="#800000" bgcolor=#93b1c9>
         <font size="2" face="Zurich BT" color=#08176c><b>
          <%todate=Time.now()%>USER :
	<%=( session[:login]).upcase%></b></font></td>

    <td width="25%"  height="24" align=left bordercolor="#800000" bgcolor=#93b1c9>
         <font size="2" face="Zurich BT" color=#08176c><b>
          <p align="right">DATE:<%= todate.strftime("%d/%m/%y")%>	</b></font></td>

  </tr>
  <td width=100%  bgcolor="#ffffff" height="1" colspan="2" > </td></tr>


</table>
</body>
</html>