
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

#logo_accounts {
background: url('../images/icici_logo_3.gif');
bgcolor="#990000";
}
#logo {
background: url('../images/topbar_inside1.GIF');
  bgcolor="#901010";
  
  }
 #logo_1 {
background: url('../images/topbar_inside2.GIF');
  bgcolor="#901010";
  
  }
  #logo_2 {
background: url('../images/logoname.gif');
 
  
  }
 #logo_3 {
background: url('../images/newone.png');
 
  
  }

#login {
background: url('../images/login_visual.jpg');
bgcolor="#901010";
  width="450"
  height="58";
}
#logout {
background: url('../images/logout.jpg');

}
#logout2 {
background: url('../images/logout1.png');

}



/*.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
*/
div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}