<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ICICI Admin</title>
<%= javascript_include_tag "prototype","effects",:defaults %>


</head>

<body>
<p>&nbsp;</p>
<table width="80%" height="422" align=center><tr>
  <td  width="98%" align="center" height="416">
<table id="table2" align="center"  width="473" height="187">

<tr>
<td width="455" height="181">
<h2 align="center"><span style="font-weight: 400">Editing User</span></h2>
<p >
<% form_tag :controller =>'users', :action => 'update', :id => @user do %>
  <%= render :partial => 'form' %></p>
 <p align="center"><%= submit_tag ' Save ', :style=>"font-family: Zurich BT; font-size: 10pt" %>   <%= button_to_function 'Cancel' , remote_function(:url=> {:controller=>'users',:action => "cancel" }),:id=>'cancel', :style=>"font-family: Zurich BT; font-size: 10pt" %></p>

<% end %>
<p>&nbsp;</p>
</td></tr></table></td></tr></table>
</body>
</html>