<html>
<head>
<%= javascript_include_tag "prototype","effects","application",:defaults %>
<script language="JavaScript">
function show()
{
document.getElementById("chk0").checked=true
alert("hello");

}
</script>
<STYLE type="text/css"> 
  
DIV.clsDataGrid { 
BORDER-RIGHT:none; 
BORDER-TOP: none; 
BORDER-LEFT: none; 
BORDER-BOTTOM: none; 
OVERFLOW: scroll; 
WIDTH: 800px; 
HEIGHT:300px;
} 
</STYLE>



</head>
<body>
<!--<div id=mydiv>
<form name=f1 id=f1>
<input type=checkbox deselected name="chk" id="chk" value="ON" onclick="show();"> 

 <input type=checkbox deselected name="chk0" id="chk0" value="ON"> -->
<div class=clsDataGrid id=divList bgcolor=white width=90%>

<table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor=black width="96%" id="AutoNumber4" height="40" align=center>
          							<tr bgcolor="#08176c" align=center width=100% height=30>
            							<th width="8%" height="1" >
        									<font color=white face="Zurich BT" size="2">Sr. NO</font>
        								</th>
            							<th width="15%" height="1" >
        									<font color=white face="Zurich BT" size="2">City</font>
        								</th>
            							<th width="15%" height="1" >
        									<font color=white face="Zurich BT" size="2">Location</font>
        								</th>
        								<th width="15%" height="1" >
        									<font color=white face="Zurich BT" size="2">Master Name</font>
        								</th>

          								<th width="12%" height="1" >
        									<font color=white face="Zurich BT" size="2">Export-Status</font>
        								</th>
           								<th width="12%" height="1" >
        									<font color=white face="Zurich BT" size="2">Export-Status</font>
        								</th>
           								<th width="13%" height="1" >
        									<font color=white face="Zurich BT" size="2">Machine-Status</font>
        								</th>
            							<th width="12%" height="1" >
        									<font color=white face="Zurich BT" size="2">Database-Status</font>
        								</th>
           								<th width="14%" height="1" >
        									<font color=white face="Zurich BT" size="2">Date & Time</font>
        								</th>
          							</tr>
          							<!-- width=100% height=400 -->
          							<% if session[:all]!=nil and session[:impstat]!=nil and session[:impdate]!=nil%>
          							
          							<% if session[:allloc]!=nil and session[:impstat]=='0'%>
          							<%
          								session[:locid2]=session[:locid]
										session[:regionid2]=session[:regionid]
										session[:all2]=session[:all]
										session[:allloc2]=session[:allloc]
										session[:reg2]=session[:reg]
										session[:loc2]=session[:loc]
										session[:impdate2]=session[:impdate]
										session[:impstat2]=session[:impstat]
															%>
          							
          							
          							<%
          								session[:locid2]=session[:locid]
										session[:regionid2]=session[:regionid]
										session[:all2]=session[:all]
										session[:allloc2]=session[:allloc]
										session[:reg2]=session[:reg]
										session[:loc2]=session[:loc]
										session[:impdate2]=session[:impdate]
										session[:impstat2]=session[:impstat]
															%>
          							
          							<%@loc= DataExportStatus.find_by_sql("select * from data_export_statuses where EXP_Date='#{session[:impdate]}'")%>
          							
          							<% for item in @loc %>
          							<tr >
             							<td width="3%" height="1" > <%= item.id%></td>
             							<% @f=Location.find_by_sql("select LOC_ClusterID,LOC_BranchName from locations where LOC_SoleID='#{item.EXP_LocationID}'")
             							 for r in @f
             							 @bname=r.LOC_BranchName
             							 end 
             							 @c=Region.find_by_sql("select REG_RegionName from regions where id=#{item.EXP_RegionID}")
             							 for i in @c
             							 @cname=i.REG_RegionName
             							 end%>
             						<td width="5%" height="1" ><%= @cname%></td>
              							<td width="5%" height="1" ><%= @bname%></td>
              							<td width="5%" height="1" ><%= item.EXP_MasterName.upcase%></td>
              							<% if item.EXP_ExportCompleted=='Y'%>
 									<td width="5%" height="1" bgcolor="#93b1c9"><%="Yes"%></td>
 									<td width="5%" height="1" >
 									
                                    <input type="checkbox" id="DataExportStatus_id" name="DataExportStatus[id][]" disabled value="<%= item.id %>"></td>
                                    
 										<% else %>
 										<td width="5%" height="1" bgcolor="#FF0000"><%="No"%></td>
 										<td width="5%" height="1" >
                                        <input type="checkbox" id=DataExportStatus_id name=DataExportStatus[id][] unselected value="<%= item.id %>"></td>
                                        <% end %>
 										<td width="6%" height="1"><%= item.EXP_MachineStatus %></td>
 										<% if item.EXP_ErrorDescription!=""%>
 										<td width="5%" height="1" ><%= "Database Not Connected" %></td>
 										<% else %>
 										<td width="5%" height="1" ><%="Database Connected"%></td>
 										<% end %>
 										
 										<% @s=item.created_at.strftime("%d/%m/%y")+" " + item.created_at.strftime("%H:%M:%S") %>
 										<td width="6%" height="1" ><%= @s %></td>
 										
          							 </tr>
          							
          							 <% end %>
          							 
          							 	<%
          								session[:locid]=nil
										session[:regionid]=nil
										session[:all]=nil
										session[:allloc]=nil
										session[:reg]=nil
										session[:loc]=nil
										session[:impdate]=nil
										session[:impstat]=nil 
															%>
									
									<% elsif session[:allloc]!=nil and session[:impstat]=='1'%>
          							
          							<%
          								session[:locid2]=session[:locid]
										session[:regionid2]=session[:regionid]
										session[:all2]=session[:all]
										session[:allloc2]=session[:allloc]
										session[:reg2]=session[:reg]
										session[:loc2]=session[:loc]
										session[:impdate2]=session[:impdate]
										session[:impstat2]=session[:impstat]
															%>
          							
          							
          							<%@loc= DataExportStatus.find_by_sql("select * from data_export_statuses where EXP_Date='#{session[:impdate]}' and EXP_ExportCompleted='Y'")%>
          							
          							<% for item in @loc %>
          							<tr >
             							<td width="3%" height="1" > <%= item.id%></td>
             							<% @f=Location.find_by_sql("select LOC_ClusterID,LOC_BranchName from locations where LOC_SoleID='#{item.EXP_LocationID}'")
             							 for r in @f
             							 @bname=r.LOC_BranchName
             							 end 
             							 @c=Region.find_by_sql("select REG_RegionName from regions where id=#{item.EXP_RegionID}")
             							 for i in @c
             							 @cname=i.REG_RegionName
             							 end%>
             						<td width="5%" height="1" ><%= @cname%></td>
              							<td width="5%" height="1" ><%= @bname%></td>
              							<td width="5%" height="1" ><%= item.EXP_MasterName%></td>
              							<% if item.EXP_ExportCompleted=='Y'%>
 									<td width="5%" height="1" bgcolor="#93b1c9"><%="Yes"%></td>
 									<td width="5%" height="1" >
 									
                                    <input type="checkbox" id="DataExportStatus_id" name="DataExportStatus[id][]" disabled value="<%= item.id %>"></td>
                                    
 										<% else %>
 										<td width="5%" height="1" bgcolor="#FF0000"><%="No"%></td>
 										<td width="5%" height="1" >
                                        <input type="checkbox" id=DataExportStatus_id name=DataExportStatus[id][] unselected value="<%= item.id %>"></td>
                                        <% end %>
 										<td width="6%" height="1"><%= item.EXP_MachineStatus %></td>
 										<% if item.EXP_ErrorDescription!=""%>
 										<td width="5%" height="1" ><%= "Database Not Connected" %></td>
 										<% else %>
 										<td width="5%" height="1" ><%="Database Connected"%></td>
 										<% end %>
 										<% @s=item.created_at.strftime("%d/%m/%y")+" " + item.created_at.strftime("%H:%M:%S") %>
 										<td width="6%" height="1" ><%= @s %></td>
 										
          							 </tr>
          							
          							 <% end %>
          							 
          							 	<%
          								session[:locid]=nil
										session[:regionid]=nil
										session[:all]=nil
										session[:allloc]=nil
										session[:reg]=nil
										session[:loc]=nil
										session[:impdate]=nil
										session[:impstat]=nil 
															%>
									
									
									<% elsif session[:allloc]!=nil and session[:impstat]=='2'%>
          							
          							<%
          								session[:locid2]=session[:locid]
										session[:regionid2]=session[:regionid]
										session[:all2]=session[:all]
										session[:allloc2]=session[:allloc]
										session[:reg2]=session[:reg]
										session[:loc2]=session[:loc]
										session[:impdate2]=session[:impdate]
										session[:impstat2]=session[:impstat]
															%>
          							
          							
          							<%@loc= DataExportStatus.find_by_sql("select * from data_export_statuses where EXP_Date='#{session[:impdate]}' and EXP_ExportCompleted='N'")%>
          							
          							<% for item in @loc %>
          							<tr >
             							<td width="3%" height="1" > <%= item.id%></td>
             							<% @f=Location.find_by_sql("select LOC_ClusterID,LOC_BranchName from locations where LOC_SoleID='#{item.EXP_LocationID}'")
             							 for r in @f
             							 @bname=r.LOC_BranchName
             							 end 
             							 @c=Region.find_by_sql("select REG_RegionName from regions where id=#{item.EXP_RegionID}")
             							 for i in @c
             							 @cname=i.REG_RegionName
             							 end%>
             						<td width="5%" height="1" ><%= @cname%></td>
              							<td width="5%" height="1" ><%= @bname%></td>
              							<td width="5%" height="1" ><%= item.EXP_MasterName%></td>
              							<% if item.EXP_ExportCompleted=='Y'%>
 									<td width="5%" height="1" bgcolor="#93b1c9"><%="Yes"%></td>
 									<td width="5%" height="1" >
 									
                                    <input type="checkbox" id="DataExportStatus_id" name="DataExportStatus[id][]" disabled value="<%= item.id %>"></td>
                                    
 										<% else %>
 										<td width="5%" height="1" bgcolor="#FF0000"><%="No"%></td>
 										<td width="5%" height="1" >
                                        <input type="checkbox" id=DataExportStatus_id name=DataExportStatus[id][] unselected value="<%= item.id %>"></td>
                                        <% end %>
 										<td width="6%" height="1"><%= item.EXP_MachineStatus %></td>
 										<% if item.EXP_ErrorDescription!=""%>
 										<td width="5%" height="1" ><%= "Database Not Connected" %></td>
 										<% else %>
 										<td width="5%" height="1" ><%="Database Connected"%></td>
 										<% end %>
 										<td width="6%" height="1" ><%= item.created_at.strftime("%d/%m/%y")%>
 										<% @s=item.created_at.strftime("%d/%m/%y")+" " + item.created_at.strftime("%H:%M:%S") %>
 										<td width="6%" height="1" ><%= @s %></td>

 										
 										
          							 </tr>
          							
          							 <% end %>
          							 
          							 	<%
          								session[:locid]=nil
										session[:regionid]=nil
										session[:all]=nil
										session[:allloc]=nil
										session[:reg]=nil
										session[:loc]=nil
										session[:impdate]=nil
										session[:impstat]=nil 
															%>
									<% elsif session[:reg]!=nil and session[:impstat]=='0'%>
          							
          							<%
          								session[:locid2]=session[:locid]
										session[:regionid2]=session[:regionid]
										session[:all2]=session[:all]
										session[:allloc2]=session[:allloc]
										session[:reg2]=session[:reg]
										session[:loc2]=session[:loc]
										session[:impdate2]=session[:impdate]
										session[:impstat2]=session[:impstat]
															%>
          							<%@loc= DataExportStatus.find_by_sql("select * from data_export_statuses where EXP_Date='#{session[:impdate]}' and EXP_RegionID=#{session[:regionid]}")%>
          							<% for item in @loc %>
          							<tr >
             							<td width="3%" height="1" > <%= item.id%></td>
             							<% @f=Location.find_by_sql("select LOC_ClusterID,LOC_BranchName from locations where LOC_SoleID='#{item.EXP_LocationID}'")
             							 for r in @f
             							 @bname=r.LOC_BranchName
             							 end 
             							 @c=Region.find_by_sql("select REG_RegionName from regions where id=#{item.EXP_RegionID}")
             							 for i in @c
             							 @cname=i.REG_RegionName
             							 end%>
             						<td width="5%" height="1" ><%= @cname%></td>
              							<td width="5%" height="1" ><%= @bname%></td>
              							<td width="5%" height="1" ><%= item.EXP_MasterName%></td>
              							<% if item.EXP_ExportCompleted=='Y'%>
 									<td width="5%" height="1" bgcolor="#93b1c9"><%="Yes"%></td>
 									<td width="5%" height="1" >
                                    <input type="checkbox" disabled value="ON"></td>
 										<% else %>
 										<td width="5%" height="1" bgcolor="#FF0000"><%="No"%></td>
 										<td width="5%" height="1" >
                                        <input type="checkbox" id=DataExportStatus_id name=DataExportStatus[id][] unselected value="<%= item.id %>"></td>

 										<% end %>
 										<td width="6%" height="1"><%="Machine Connected"%></td>
 										<% if item.EXP_ErrorDescription!=""%>
 										<td width="5%" height="1" ><%="Database Not Connected" %></td>
 										<% else %>
 										<td width="5%" height="1" ><%="Database Connected"%></td>
 										<% end %>
 										<%@s=item.created_at.strftime("%d/%m/%y")+" " + item.created_at.strftime("%H:%M:%S") %>
 										<td width="6%" height="1" ><%= @s %></td>
 									
          							 </tr>
          							 <% end %>
          							 	<%
          								session[:locid]=nil
										session[:regionid]=nil
										session[:all]=nil
										session[:allloc]=nil
										session[:reg]=nil
										session[:loc]=nil
										session[:impdate]=nil
										session[:impstat]=nil 
															%>  
									
										<% elsif session[:reg]!=nil and session[:impstat]=='1'%>
          							
          							<%
          								session[:locid2]=session[:locid]
										session[:regionid2]=session[:regionid]
										session[:all2]=session[:all]
										session[:allloc2]=session[:allloc]
										session[:reg2]=session[:reg]
										session[:loc2]=session[:loc]
										session[:impdate2]=session[:impdate]
										session[:impstat2]=session[:impstat]
															%>
          							<%@loc= DataExportStatus.find_by_sql("select * from data_export_statuses where EXP_Date='#{session[:impdate]}' and EXP_RegionID=#{session[:regionid]} and EXP_ExportCompleted='Y'")%>
          							<% for item in @loc %>
          							<tr >
             							<td width="3%" height="1" > <%= item.id%></td>
             							<% @f=Location.find_by_sql("select LOC_ClusterID,LOC_BranchName from locations where LOC_SoleID='#{item.EXP_LocationID}'")
             							 for r in @f
             							 @bname=r.LOC_BranchName
             							 end 
             							 @c=Region.find_by_sql("select REG_RegionName from regions where id=#{item.EXP_RegionID}")
             							 for i in @c
             							 @cname=i.REG_RegionName
             							 end%>
             						<td width="5%" height="1" ><%= @cname%></td>
              							<td width="5%" height="1" ><%= @bname%></td>
              							<td width="5%" height="1" ><%= item.EXP_MasterName%></td>
              							<% if item.EXP_ExportCompleted=='Y'%>
 									<td width="5%" height="1" bgcolor="#93b1c9"><%="Yes"%></td>
 									<td width="5%" height="1" >
                                    <input type="checkbox" disabled value="ON"></td>
 										<% else %>
 										<td width="5%" height="1" bgcolor="#FF0000"><%="No"%></td>
 										<td width="5%" height="1" >
                                        <input type="checkbox" id=DataExportStatus_id name=DataExportStatus[id][] unselected value="<%= item.id %>"></td>

 										<% end %>
 										<td width="6%" height="1"><%="Machine Connected"%></td>
 										<% if item.EXP_ErrorDescription!=""%>
 										<td width="5%" height="1" ><%="Database Not Connected" %></td>
 										<% else %>
 										<td width="5%" height="1" ><%="Database Connected"%></td>
 										<% end %>
 										<% @s=item.created_at.strftime("%d/%m/%y")+" " + item.created_at.strftime("%H:%M:%S") %>
 										<td width="6%" height="1" ><%= @s %></td>
 									
          							 </tr>
          							 <% end %>
          							 	<%
          								session[:locid]=nil
										session[:regionid]=nil
										session[:all]=nil
										session[:allloc]=nil
										session[:reg]=nil
										session[:loc]=nil
										session[:impdate]=nil
										session[:impstat]=nil 
															%>          							
        							
										<% elsif session[:reg]!=nil and session[:impstat]=='2'%>
          							
          							<%
          								session[:locid2]=session[:locid]
										session[:regionid2]=session[:regionid]
										session[:all2]=session[:all]
										session[:allloc2]=session[:allloc]
										session[:reg2]=session[:reg]
										session[:loc2]=session[:loc]
										session[:impdate2]=session[:impdate]
										session[:impstat2]=session[:impstat]
															%>
          							<%@loc= DataExportStatus.find_by_sql("select * from data_export_statuses where EXP_Date='#{session[:impdate]}' and EXP_RegionID=#{session[:regionid]} and EXP_ExportCompleted='N'")%>
          							<% for item in @loc %>
          							<tr >
             							<td width="3%" height="1" > <%= item.id%></td>
             							<% @f=Location.find_by_sql("select LOC_ClusterID,LOC_BranchName from locations where LOC_SoleID='#{item.EXP_LocationID}'")
             							 for r in @f
             							 @bname=r.LOC_BranchName
             							 end 
             							 @c=Region.find_by_sql("select REG_RegionName from regions where id=#{item.EXP_RegionID}")
             							 for i in @c
             							 @cname=i.REG_RegionName
             							 end%>
             						<td width="5%" height="1" ><%= @cname%></td>
              							<td width="5%" height="1" ><%= @bname%></td>
              							<td width="5%" height="1" ><%= item.EXP_MasterName%></td>
              							<% if item.EXP_ExportCompleted=='Y'%>
 									<td width="5%" height="1" bgcolor="#93b1c9"><%="Yes"%></td>
 									<td width="5%" height="1" >
                                    <input type="checkbox" disabled value="ON"></td>
 										<% else %>
 										<td width="5%" height="1" bgcolor="#FF0000"><%="No"%></td>
 										<td width="5%" height="1" >
                                        <input type="checkbox" id=DataExportStatus_id name=DataExportStatus[id][] unselected value="<%= item.id %>"></td>

 										<% end %>
 										<td width="6%" height="1"><%="Machine Connected"%></td>
 										<% if item.EXP_ErrorDescription!=""%>
 										<td width="5%" height="1" ><%="Database Not Connected" %></td>
 										<% else %>
 										<td width="5%" height="1" ><%="Database Connected"%></td>
 										<% end %>
 										<% @s=item.created_at.strftime("%d/%m/%y")+" " + item.created_at.strftime("%H:%M:%S") %>
 										<td width="6%" height="1" ><%= @s %></td>
 									
          							 </tr>
          							 <% end %>
          							 	<%
          								session[:locid]=nil
										session[:regionid]=nil
										session[:all]=nil
										session[:allloc]=nil
										session[:reg]=nil
										session[:loc]=nil
										session[:impdate]=nil
										session[:impstat]=nil 
															%>          							

										<% elsif session[:loc]!=nil and session[:impstat]=='0'%>
          							
          							
          							<%
          								session[:locid2]=session[:locid]
										session[:regionid2]=session[:regionid]
										session[:all2]=session[:all]
										session[:allloc2]=session[:allloc]
										session[:reg2]=session[:reg]
										session[:loc2]=session[:loc]
										session[:impdate2]=session[:impdate]
										session[:impstat2]=session[:impstat]
															%>
          							<% @r=Location.find_by_sql("select LOC_SoleID from locations where id=#{session[:locid]}")%>
          							


          							<% for m in @r
          							@l=m.LOC_SoleID
          							end %>
          							<%@loc= DataExportStatus.find_by_sql("select * from data_export_statuses where EXP_Date='#{session[:impdate]}' and EXP_LocationID='#{@l}' ")%>
          							<% for item in @loc %>
          							<tr >
             							<td width="3%" height="1" > <%= item.id%></td>
             							<% @f=Location.find_by_sql("select LOC_ClusterID,LOC_BranchName from locations where LOC_SoleID='#{item.EXP_LocationID}'")
             							 for r in @f
             							 @bname=r.LOC_BranchName
             							 end 
             							 @c=Region.find_by_sql("select REG_RegionName from regions where id=#{item.EXP_RegionID}")
             							 for i in @c
             							 @cname=i.REG_RegionName
             							 end%>
             						<td width="5%" height="1" ><%= @cname%></td>
              							<td width="5%" height="1" ><%= @bname%></td>
              							<td width="5%" height="1" ><%= item.EXP_MasterName%></td>
              							<% if item.EXP_ExportCompleted=='Y'%>
 									<td width="5%" height="1" bgcolor="#93b1c9"><%="Yes"%></td>
 									<td width="5%" height="1" >
                                    <input type="checkbox" disabled value="ON"></td>
 										<% else %>
 										<td width="5%" height="1" bgcolor="#FF0000"><%="No"%></td>
 										<td width="5%" height="1" >
                                        <input type="checkbox" id=DataExportStatus_id name=DataExportStatus[id][] unselected value="<%= item.id %>"></td>

 										<% end %>
 										<td width="6%" height="1"><%="Machine Connected"%></td>
 										<% if item.EXP_ErrorDescription!=""%>
 										<td width="5%" height="1" ><%="Database Not Connected" %></td>
 										<% else %>
 										<td width="5%" height="1" ><%="Database Connected"%></td>
 										<% end %>
 										<% @s=item.created_at.strftime("%d/%m/%y")+" " + item.created_at.strftime("%H:%M:%S") %>
 										<td width="6%" height="1" ><%= @s %></td>
 									
          							 </tr>
          							 <% end %>
          							 	<%
          								session[:locid]=nil
										session[:regionid]=nil
										session[:all]=nil
										session[:allloc]=nil
										session[:reg]=nil
										session[:loc]=nil
										session[:impdate]=nil
										session[:impstat]=nil 
															%>
										
										<% elsif session[:loc]!=nil and session[:impstat]=='1'%>
          							
          							
          							<%
          								session[:locid2]=session[:locid]
										session[:regionid2]=session[:regionid]
										session[:all2]=session[:all]
										session[:allloc2]=session[:allloc]
										session[:reg2]=session[:reg]
										session[:loc2]=session[:loc]
										session[:impdate2]=session[:impdate]
										session[:impstat2]=session[:impstat]
															%>
          							<% @r=Location.find_by_sql("select LOC_SoleID from locations where id=#{session[:locid]}")%>
          							


          							<% for m in @r
          							@l=m.LOC_SoleID
          							end %>
          							<%@loc= DataExportStatus.find_by_sql("select * from data_export_statuses where EXP_Date='#{session[:impdate]}' and EXP_LocationID='#{@l}' and EXP_ExportCompleted='Y' ")%>
          							<% for item in @loc %>
          							<tr >
             							<td width="3%" height="1" > <%= item.id%></td>
             							<% @f=Location.find_by_sql("select LOC_ClusterID,LOC_BranchName from locations where LOC_SoleID='#{item.EXP_LocationID}'")
             							 for r in @f
             							 @bname=r.LOC_BranchName
             							 end 
             							 @c=Region.find_by_sql("select REG_RegionName from regions where id=#{item.EXP_RegionID}")
             							 for i in @c
             							 @cname=i.REG_RegionName
             							 end%>
             						<td width="5%" height="1" ><%= @cname%></td>
              							<td width="5%" height="1" ><%= @bname%></td>
              							<td width="5%" height="1" ><%= item.EXP_MasterName%></td>
              							<% if item.EXP_ExportCompleted=='Y'%>
 									<td width="5%" height="1" bgcolor="#93b1c9"><%="Yes"%></td>
 									<td width="5%" height="1" >
                                    <input type="checkbox" disabled value="ON"></td>
 										<% else %>
 										<td width="5%" height="1" bgcolor="#FF0000"><%="No"%></td>
 										<td width="5%" height="1" >
                                        <input type="checkbox" id=DataExportStatus_id name=DataExportStatus[id][] unselected value="<%= item.id %>"></td>

 										<% end %>
 										<td width="6%" height="1"><%="Machine Connected"%></td>
 										<% if item.EXP_ErrorDescription!=""%>
 										<td width="5%" height="1" ><%="Database Not Connected" %></td>
 										<% else %>
 										<td width="5%" height="1" ><%="Database Connected"%></td>
 										<% end %>
 										<td width="6%" height="1" ><%= item.created_at%></td>
 									
          							 </tr>
          							 <% end %>
          							 	<%
          								session[:locid]=nil
										session[:regionid]=nil
										session[:all]=nil
										session[:allloc]=nil
										session[:reg]=nil
										session[:loc]=nil
										session[:impdate]=nil
										session[:impstat]=nil 
															%>
										<% elsif session[:loc]!=nil and session[:impstat]=='2'%>
          							
          							
          							<%
          								session[:locid2]=session[:locid]
										session[:regionid2]=session[:regionid]
										session[:all2]=session[:all]
										session[:allloc2]=session[:allloc]
										session[:reg2]=session[:reg]
										session[:loc2]=session[:loc]
										session[:impdate2]=session[:impdate]
										session[:impstat2]=session[:impstat]
															%>
          							<% @r=Location.find_by_sql("select LOC_SoleID from locations where id=#{session[:locid]}")%>
          							


          							<% for m in @r
          							@l=m.LOC_SoleID
          							end %>
          							<%@loc= DataExportStatus.find_by_sql("select * from data_export_statuses where EXP_Date='#{session[:impdate]}' and EXP_LocationID='#{@l}' and EXP_ExportCompleted='N' ")%>
          							<% for item in @loc %>
          							<tr >
             							<td width="3%" height="1" > <%= item.id%></td>
             							<% @f=Location.find_by_sql("select LOC_ClusterID,LOC_BranchName from locations where LOC_SoleID='#{item.EXP_LocationID}'")
             							 for r in @f
             							 @bname=r.LOC_BranchName
             							 end 
             							 @c=Region.find_by_sql("select REG_RegionName from regions where id=#{item.EXP_RegionID}")
             							 for i in @c
             							 @cname=i.REG_RegionName
             							 end%>
             						<td width="5%" height="1" ><%= @cname%></td>
              							<td width="5%" height="1" ><%= @bname%></td>
              							<td width="5%" height="1" ><%= item.EXP_MasterName%></td>
              							<% if item.EXP_ExportCompleted=='Y'%>
 									<td width="5%" height="1" bgcolor="#93b1c9"><%="Yes"%></td>
 									<td width="5%" height="1" >
                                    <input type="checkbox" disabled value="ON"></td>
 										<% else %>
 										<td width="5%" height="1" bgcolor="#FF0000"><%="No"%></td>
 										<td width="5%" height="1" >
                                        <input type="checkbox" id=DataExportStatus_id name=DataExportStatus[id][] unselected value="<%= item.id %>"></td>

 										<% end %>
 										<td width="6%" height="1"><%="Machine Connected"%></td>
 										<% if item.EXP_ErrorDescription!=""%>
 										<td width="5%" height="1" ><%="Database Not Connected" %></td>
 										<% else %>
 										<td width="5%" height="1" ><%="Database Connected"%></td>
 										<% end %>
 										<% @s=item.created_at.strftime("%d/%m/%y")+" " + item.created_at.strftime("%H:%M:%S") %>
 										<td width="6%" height="1" ><%= @s %></td>
 									
          							 </tr>
          							 <% end %>
          							 	<%
          								session[:locid]=nil
										session[:regionid]=nil
										session[:all]=nil
										session[:allloc]=nil
										session[:reg]=nil
										session[:loc]=nil
										session[:impdate]=nil
										session[:impstat]=nil 
															%>

          							
          						<% end %><!-- Inner IF-->
          							<% end %><!-- Outer IF-->
          							
          						
        						</table></div>
<!--</form>
</div>-->
        			
        			</body>
</html>