<html>
<head>
<%= javascript_include_tag "prototype","effects","application",:defaults %>

<script  language="JavaScript">
			
function show() {
var div_ref = document.all("progress_div");
  div_ref.style.visibility = "visible";
}

function show_progress()
{      
      
      var loc_ref=document.all("loc_id");
      loc_count=loc_ref.options.length;
	    if(loc_count<=0)
		{
			alert("Please add atleast one location for exporting");	
		}
	    else
		{
 		document.getElementById('aux_div').style.visibility = "visible"
     	new Ajax.Request("<%= url_for :controller=> :datatransact,:action=>:export %>",{method:'post'})
		}
    

}
</script>


</head>
<body>

    <% if session[:cid]!=nil%>
     <fieldset style="border:1px solid #08176C; width: 96%; height: 150; color:#08176C; position:relative; left:2%">
     <% @r= Location.find_by_sql("select id,LOC_BranchName from locations where LOC_ClusterID=#{session[:cid]} and LOC_IsActive=1")%>
 <legend><font color="#08176C" face="Zurich BT" size="4">
  					<strong style="font-weight: 400">Location
  					</strong>
  				</font>
  	  </legend>
  <table width=100% border="0" height="90">
  		<tr>
    		<td width="33%" height="20">
            <font color="#08176C" face="Zurich BT" size="4"><p align="center"> Available Locations</font></td>
    		<td width="33%" height="20"></td>
    		<td width="33%" height="20"><font face="Zurich BT" size="4">
            <p align="center"> 
            <font color="#08176C">Selected Locations</font></font></td>
  		</tr>
  		
  		<tr>
    		<td width="33%" height="50">
    			<p align="center">

<select id="location_id0" name= "location[id][]" multiple>
								<% 	for c in @r %>
								<font face="Zurich BT" size="2"> <option value="<%= c.id %>"><%= c.LOC_BranchName -%></option></font>
								<% end %>	
					</select>
    <!--<select id="location_id" name="location[id]"  multiple>-->
					<% session[:cid]=nil%>
     			  </p></td>
      
	  
 	  		<td width="33%" height="50" >
      				<table width="100%" >
	 						
	 						
							<tr>
								<td align="center" > 
								<%= submit_to_remote 'Add','      ADD      ',:url => {:controller=>'datatransact',:action => 'new_locationsexp' }%>
								

     							</td>
     						</tr>
     		       
  							<!--Remove Button Code  -->
     						
     	 					<tr>
    							<td  align="center">
    								<%= submit_to_remote 'Remove','  REMOVE  ',:url => {:controller=>'datatransact',:action => 'remove_locationsexp' }%>    							</td>
    						</tr>
							

						</table>
				</td>
		
				<td  width="33%" height="50">
				<div id="exp_but">
				<%= render :partial => 'expbuttons' %>
				</div>

  				
				</td>	
				
	 	</tr>
	 	
              <tr>
    <td  align="center" width="33%" height="20"></td>
    <td  align="center" width="33%"  height="20">
    <font size="4"><% submit_to_remote 'Send Data','SEND DATA',:url => {:controller=>'datatransact',:action => 'export' }%>
    <input type="button" onclick="show_progress();" value="SEND DATA"></font></td>
    <td align="center" width="33%"  height="20"></td></tr></table>
 	

<% session[:cid]=nil%>
</fieldset>
<%else%>
<fieldset style="border:1px solid #08176C; width: 96%; height:150; color:#08176C; position:relative; left:2%">
     <% @r= Location.find_by_sql("select id,LOC_BranchName from locations where LOC_IsActive=1")%>
 <legend><font color="#08176C" face="Zurich BT" size="4">
  					<strong style="font-weight: 400">Location
  					</strong>
  				</font>
  	  </legend>
  <table width=100% border="0" height="90">
  		<tr>
    		<td width="33%" height="20">
            <font color="#08176C" face="Zurich BT" size="4"><p align="center"> Available Locations</font></td>
    		<td width="33%" height="20"></td>
    		<td width="33%" height="20"><font face="Zurich BT" size="4">
            <p align="center"> 
            <font color="#08176C">Selected Locations</font></font></td>
  		</tr>
  		
  		<tr>
    		<td width="33%" height="50">
    			<p align="center">

    			<select id="location_id" name= "location[id][]" multiple>
								<% 	for c in @r %>
								<font face="Zurich BT" size="2"> <option value="<%= c.id %>"><%= c.LOC_BranchName -%></option></font>
								<% end %>	
					</select>  
    <!--<select id="location_id" name="location[id]"  multiple>-->
					<% session[:cid]=nil%>
     			  </p></td>
      
	  
 	  		<td width="33%" height="50" >
      				<table width="100%" >
	 						
	 						
							<tr>
								<td align="center" > 
								<%= submit_to_remote 'Add','      ADD      ',:url => {:controller=>'datatransact',:action => 'new_locationsexp' }%>
								

     							</td>
     						</tr>
     		       
  							<!--Remove Button Code  -->
     						
     	 					<tr>
    							<td  align="center">
    								<%= submit_to_remote 'Remove','  REMOVE  ',:url => {:controller=>'datatransact',:action => 'remove_locationsexp' }%>    							</td>
    						</tr>
							

						</table>
				</td>
		
				<td  width="33%" height="50">
				<div id="exp_but">
				<%= render :partial => 'expbuttons' %>
				</div>

  				
				</td>	
				
	 	</tr>
	 	
       <tr>
    <td  align="center" width="33%" height="20"></td>
    <td  align="center" width="33%"  height="20">
    <font size="4"><% submit_to_remote 'Send Data','SEND DATA',:url => {:controller=>'datatransact',:action => 'export' }%>
    <input type="button" onclick="show_progress();" value="SEND DATA"></font></td>
    <td align="center" width="33%"  height="20"></td></tr>
</table>
 

	

<% session[:cid]=nil%>
</fieldset>
<table width=100%>
<tr>
<td width=100% align=center>
<div id="aux_div" style="visibility:hidden;  align:center; width:60%;
  									border: 2px solid blue;
  									padding-bottom: 0px;
  									margin-bottom: 0px;
  									background-color: #f0f0f0; height:20; padding-left:2px; padding-right:2px; padding-top:2px" >
                              <font size=4 color=#014D7A>

                                    Please Wait Exporting is in Progress.....<%= image_tag('spinner.gif') %>
                             
                                    <br></font>			
									
                                     </div></td></tr></table>

<%end%>

</body>

</html>